@import url("https://typekit.net");

body {
  background-image: url(assets/border-background.jpg);
  color: #48293D;
  text-align: center;
  font-family: pf-pixelscript, sans-serif;
  font-style: normal;
  overflow: hidden;
  position: fixed;
}
